$ant-prefix             : "ant";

// Breakpoint Widths
$screen-xs-max          : 575px;
$screen-sm-max          : 767px;
$screen-md-max          : 991px;
$screen-lg-max          : 1199px;
$screen-xl-max          : 1599px;

// Colors
$color_link             : #0C9CED;
$color_link_hover       : blue;