.cmpt-player-bar {
    height: 45px;
    margin: 0 15px;

    .ytContainer {
        display: flex;
        position: relative;

        .video-overlay {
            height: 100%;
            left: 0px;
            position: absolute;
            top: 0px;
            width: 100%;
        }
    }
}